/* Base structure */

body {
    padding-top: 3.5rem;
}

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

.sidebar-right {
    position: fixed;
    top: 51px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */

.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item+.nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/* Dashboard */

.ui-button {
    align-items: right;
}

input.text {
    margin-bottom: 12px;
    width: 300px;
    height: 95%;
    padding: .4em;
}

h1 {
    font-size: 1.2em;
    margin: .6em 0;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

div#posts-contain {
    width: auto;
    margin: 20px 0;
}

div#posts-contain table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
}

div#posts-contain table td,
div#posts-contain table th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}
